@charset "UTF-8";

:root {
    --cor01: #f0f8ff;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgba(0, 0, 0, 0.877);
    color: var(--cor01);
    text-align: center;
}
