@charset "UTF-8";

/*
Em HTML é id = em CSS é # (só pode um elemento)
Em HTML é class = em CSS é . (pode  vários elementos) 
*/

body {
    background-color: rgb(161, 212, 161);
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: rgb(47, 102, 47);
}

h1#principal {
    text-align: center;
    background-color: green;
    color: aliceblue;
}

h2 {
    color: rgb(82, 136, 82);
}

.intermediario {
    color: green;
}

.intermediario {
    color: yellow;
}

.basico {
    color: red;
}

.destaque {
    background-color: rgba(187, 187, 110, 0.432);
}