* {
    margin: 0px;
}

header {
    color: white;
    background-color: black;
    text-align: center;
    height: 120px;
    padding-top: 80px;
    margin-bottom: 80px;
}

main {
    width: 200px;
}

main p {
    padding: 30px;
}

#p1 {
    background-size: cente;
    padding: 60px;
    background-image: url('imagens/background001.jpg');
}